# gitignore for caitlinch/treelikeness_metrics

# R 
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Previews/pdfs of README.md and tree proportion tutorial file
README.html
README.pdf
tree_proportion_tutorial.nb.html

# R Environment Variables
.Renviron

# Ignore directories for bootstrap replicates
/tutorial/alignment1/
/tutorial/alignment2/
/tutorial/alignment3/
